@import 'colors';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  ::before {
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

//Main styling
.hero {
  padding-left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .info {
    padding: 4rem 13rem 0 0;

    nav {
      margin-bottom: 8rem;
    }

    .information {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2.5rem;

      span {
        font-size: 3rem;
        font-weight: 300;
        color: $desat-red;
        letter-spacing: 1.7rem;
      }

      h1 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1.7rem;
      }

      p {
        line-height: 1.8rem;
      }
    }
  }

  .hero-image {
    img {
      width: 100%;
      height: 100%;
      background: center cover;
    }
  }
}